/*  acordian css */

ul.accordion{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
button.accordion-control{
    background-color: greenyellow;
    padding: 16px;
    display: block;
    width: 100%
}
.accordion-panel {
    display: none;
    padding: 50px;
    /* border: 1px solid black; */
    font-size: 24px;
}